<section class="section feature-component use-gsap section-padding-top-{{ content_padding_top }} section-padding-bottom-{{ content_padding_bottom }} vb-theme-{{ component_palette }}" data-block-index="{{ block_index }}">
  
    <div class="first-of-type-section-spacer"></div>
    
    <div class="container">
      
        <div class="columns {% if reversed %}vb-reverse-column-order{% endif %}">
        
            <div class="column {% if reversed %}is-offset-1-tablet{% endif %} is-flex is-align-items-center is-justify-content-center">
              
                <div class="content gsap-element-wrapper" data-gsap-animation-name="slide-in-from-right">
                
                    <h2 class="feature-title">{{ title }}</h2>
                    <div class="feature-description">
                        {{ description | markdownify }}
                    </div>
                    {% if button.text and button.text != "" and button.hide_button == false %}
                    <p>
                        <a href="{{ button.link }}" class="button">{{ button.text }}</a>
                    </p>
                    {% endif %}
                
                </div>
              
            </div>
          
            <div class="column column-wrap {% if reversed != true %}is-offset-1-tablet{% endif %} is-flex is-align-items-center is-justify-content-center hide-for-print">

                {%- if img.feature_image %}{% assign current_image = img.feature_image %}{% else %}{% assign current_image = site.placeholder_image %}{% endif %}
              
                {%- capture set_flag %}{% include "./layouts/set-lazy-load-flag" block_index: block_index %}{% endcapture %}
                {%- if set_flag contains "true" %}
                    {%- assign lazy_load_flag = true %}
                {%- else %}
                    {%- assign lazy_load_flag = false %}
                {%- endif %}

                {%- if img.title %}
                    {%- assign this_title = img.title %}
                {%- else %}
                    {%- assign this_title = title %}
                {%- endif %}
              
                {% if img.use_parallax %}
                    <div class="content gsap-element-wrapper feature-image-wrapper" data-gsap-animation-name="simple-fade-in">
                        <div class="gsap-parallax-element" data-speed="0.8" style="aspect-ratio: {{ img.crop }};">  
                            {% bookshop_include "resize-image-srcset" rs_lazy: lazy_load_flag rs_image: current_image rs_quality: "65" rs_title: this_title rs_multi_column_max_image_width: "50vw" rs_aspect_ratio: img.crop %}
                        </div>
                    </div>
                {% else %}
                    <div class="content gsap-element-wrapper feature-image-wrapper" data-gsap-animation-name="{% if reversed %}slide-in-from-left{% else %}slide-in-from-right{% endif %}" data-gsap-delay="0.5" style="aspect-ratio: {{ img.crop }};" >
                        {% bookshop_include "resize-image-srcset" rs_lazy: lazy_load_flag rs_image: current_image rs_quality: "65" rs_title: this_title rs_multi_column_max_image_width: "50vw" rs_aspect_ratio: img.crop %}
                    </div>
                {%- endif %}

            </div>
        
        </div>
        
    </div>
  
</section>
